*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050816;
  color:white;
  font-family:Arial, sans-serif;
  overflow-x:hidden;
}
@keyframes float1{
  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(40px);
  }

  100%{
    transform:translateY(0px);
  }
}

@keyframes float2{
  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-40px);
  }

  100%{
    transform:translateY(0px);
  }
}